@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.unh-logo {
  width: 200px;
  height: auto;
  margin-top: 30px;
  margin-left: 30px
}

.uni-degree-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  flex-grow: 1;
  padding-left: 190px; /* Added to account for the logo width and margin */
}

.uni-name {
  font-size: 45px;
  margin-bottom: 10px;
  color: #2c3e50;
}

.degree {
  line-height: 1.5;
  align-items: flex-start;
  text-align: center;
  font-size: 20px;
  color: #34495e;
  margin-left: 100px;
}

.coursework-title {
  text-align: center;
  margin-top: 20px;
  font-size: 35px;
  color: #90bbbb;
}

.courses {
  margin-top: 20px;
  padding: 0 20px;
}

.course-item {
  background-color: #fff;
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.even-row-course {
  background-color: #d6e6e6;
}

.odd-row-course {
  background-color: #ffffff;
}

.course-name {
  font-size: 22px;
  margin-bottom: 10px;
  color: #2980b9;
}

.course-description {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 3px;
  color: #7f8c8d;
}
